body{
    background-color:  #F7AA9E;
    color: white;
    font: 16pt Arial;
    text-align: center;

}
.box{
    width: 80%;
    height: 80%;
    margin: 50px auto;
    border: 2px black solid;
    background-color:  #E09B9F;
    border-radius: 10px;
    box-shadow: 2px 5px 5px #333;
    text-align: center;
}
.box img{
    width: 25%;
    height: 25%;
}
input{
    width: 80%;
    height: 30px;
    margin-bottom: 20px;
}
button{
    width: 160px;
    height: 50px;
    border-radius: 10px;
    margin: 10px 4px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: large; 
}
button:hover{
    background-color:rgb(195, 198, 200);
}
.regras{
color:#BA5470;
}
.horas p{
    color:#D9D7D1;
    text-align: left;
    font-size: medium;
    margin: 15px;
}
@media screen and (max-width: 768px) {
    .box {
        width: 90%;
    }

    input {
        width: 90%;
    }

    .resposta,
    .resposta2,
    .resposta3 {
        width: 90%;
        margin: 1% auto;
    }
}

@media screen and (max-width: 480px) {
    body {
        font-size: 14pt;
    }

    .box {
        width: 95%;
    }

    input {
        width: 95%;
    }

    button {
        width: 140px;
        height: 40px;
    }


}